@import '@/assets/scss/_normalize';
@import '@/assets/scss/_variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #fff;
  color: $text_color;
}

html {
  font-size: 16px;
}



.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: .75rem;
  padding-left: .75rem;
  padding-bottom: 4rem;
}
.alert {
  &__mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba($bgc_theme, 0.5);
  }

  &__window {
    position: absolute;
    max-width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 10px 25px rgba(233, 101, 52, 0.5);
  }

  &__text {
    font-size: 30px;
    margin-bottom: 30px;
  }

  &__btn_wrap {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    border: none;
    padding: 10px 15px;
    border-radius: 22px;
    min-width: 100px;
    margin: 10px;
    background-color: $accent_color;
    box-shadow: $accent-box-shadow;

    &:hover {
      box-shadow: $accent-box-shadow--hover;
      background-color: $accent_hover;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

